# BACKEND

backend/[Bb]in/
backend/[Oo]bj/
backend/*.user
backend/*.nuget.props
backend/*.nuget.targets
backend/packages/

# .NET Environment
backend/appsettings.Development.json
backend/appsettings.json

# FRONTEND

frontend/node_modules/
frontend/dist/
frontend/.vite/

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# React Environment
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local

# OS / Editor
.DS_Store
Thumbs.db
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/
*.rider/